{% extends 'main_app/layout.html' %}

{% block title %}
    <title>Вторая страница</title>
{% endblock %}

{% block content %}
    <div class="container">

        <h1 style="margin: 20px;">Вторая страница моего проекта на Django</h1>
        <p style="margin: 20px 0; line-height: 1.6;">
        Добро пожаловать на вторую страницу моего Django-проекта!</p>
        <p> Здесь я экспериментирую с созданием веб-приложений, используя мощный фреймворк Django на языке Python.</p>

        <p style="margin: 20px 0; line-height: 1.6;">
        Этот проект помогает мне углубить понимание веб-разработки, освоить работу с базами данных и улучшить навыки
        программирования на Python.</p>
        <p> Следите за обновлениями – скоро здесь появится больше интересных функций!</p>

    </div>

{% endblock %}